<% include('../partials/header.ejs') %> 
    <title>日本語 - Japanese</title>
</head>
<body>
    <div class="WIP">
        Sorry this page is under work in progress
        <ul>
            Please try:
            <li>localhost:3000/grammar</li>
            <li>localhost:3000/words</li>
        </ul>
    </div>
</body>
</html>