<%- include('../../partials/header') %>
    <title><%= title %></title>
</head>
<body>
<div class="container">
    <h4>Short Forms</h4>
    <section id="intro">
        <div>
            In order to turn words into their short-form:
            <li id="verbs" class="jap">
                Verbs:
                <li id="る">
                    る-verbs:
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Positive</th>
                                    <th>Negative</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Keep the dictionary form</td>
                                    <td>Drop the る and add ない</td>
                                </tr>
                                <tr>
                                    <th>Example</th>
                                </tr>
                                <tr>
                                    <td>たべる -> たべる</td>
                                    <td>食べる -> たべない</td>
                                </tr>
                            </tbody>
                        </table>
                </li>
                <li id="う">
                    う-verbs:
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Positive</th>
                                <th>Negative</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Keep the dictionary form</td>
                                <td>Change the う ending to an あ and add ない</td>
                            </tr>
                            <tr>
                                <th>Example</th>
                            </tr>
                            <tr>
                                <td>
                                    <li>いく -> いく</li>
                                    <li>いう -> いう</li>
                                </td>
                                <td>
                                    <li>行く -> いかない</li>
                                    <li>言う -> いわない</li>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li id="irregular">
                    Irregular verbs:
                    <li id="する">
                        する：
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Positive</th>
                                    <th>Negative</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Keep the dictionary form</td>
                                    <td>Change it to しない</td>
                                </tr>
                                <tr>
                                    <th>Example</th>
                                </tr>
                                <tr>
                                    <td>する -> する</td>
                                    <td>する -> しない</td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                    <li id="くる">
                        くる：
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Positive</th>
                                    <th>Negative</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Keep the dictionary form</td>
                                    <td>Change it to こない</td>
                                </tr>
                                <tr>
                                    <th>Example</th>
                                </tr>
                                <tr>
                                    <td>くる -> くる</td>
                                    <td>くる -> こない</td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                </li>
            </li>
            <li id="adjectives" class="jap">
                Adjectives:
                <li id="い">
                    い-adjectives:
                </li>
                <li id="な">
                    な-adjectives:
                </li>
            </li>
            <li id="nouns">
                nouns:
            </li>
        </div>
    </section>
</div>
<%- include('../../partials/footer') %>  